USE [master]
GO
/****** Object:  Database [Weddings]    Script Date: 12/2/2020 7:27:48 PM ******/
CREATE DATABASE [Weddings]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Weddings', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Weddings.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Weddings_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Weddings_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Weddings].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Weddings]
GO
/****** Object:  Table [dbo].[DoanhThu]    Script Date: 12/2/2020 7:27:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[date] [varchar](50) NOT NULL,
	[total] [int] NOT NULL,
 CONSTRAINT [PK_DoanhThu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVKaraoke]    Script Date: 12/2/2020 7:27:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVKaraoke](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenDV] [varchar](50) NOT NULL,
	[giaDV] [int] NOT NULL,
	[thoiLuongThue] [int] NOT NULL,
 CONSTRAINT [PK_DVKaraoke] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVPhoThong]    Script Date: 12/2/2020 7:27:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVPhoThong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenDV] [varchar](50) NOT NULL,
	[giaDV] [int] NOT NULL,
 CONSTRAINT [PK_DVPhoThong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVThueCaSi]    Script Date: 12/2/2020 7:27:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVThueCaSi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenDV] [varchar](50) NOT NULL,
	[giaDV] [int] NOT NULL,
	[tenCS] [varchar](50) NOT NULL,
	[soLuongBH] [int] NOT NULL,
 CONSTRAINT [PK_DVThueCaSi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 12/2/2020 7:27:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Menu] [varchar](50) NOT NULL,
	[MonKhaiVi] [varchar](50) NOT NULL,
	[MonChinh1] [varchar](50) NOT NULL,
	[MonChinh2] [varchar](50) NOT NULL,
	[MonTrangMieng] [varchar](50) NOT NULL,
	[DoUong] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanhCuoi]    Script Date: 12/2/2020 7:27:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanhCuoi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenSanh] [varchar](50) NOT NULL,
	[viTri] [int] NOT NULL,
	[sucChua] [int] NOT NULL,
	[giaThueSanh] [int] NOT NULL,
	[State] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SanhCuoi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 12/2/2020 7:27:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Combo] [varchar](50) NOT NULL,
	[service1] [varchar](50) NOT NULL,
	[service2] [varchar](50) NOT NULL,
	[service3] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThucAn]    Script Date: 12/2/2020 7:27:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucAn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [varchar](50) NOT NULL,
	[gia] [int] NOT NULL,
	[ghiChu] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ThucAn] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThucUong]    Script Date: 12/2/2020 7:27:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucUong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [varchar](50) NOT NULL,
	[gia] [int] NOT NULL,
	[hangSX] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ThucUong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiecCuoi]    Script Date: 12/2/2020 7:27:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiecCuoi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[room] [varchar](50) NOT NULL,
	[cost] [int] NOT NULL,
	[date] [varchar](50) NOT NULL,
	[menu] [varchar](50) NOT NULL,
	[service] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TiecCuoi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SanhCuoi] ADD  CONSTRAINT [DF_SanhCuoi_State]  DEFAULT ('Not checked') FOR [State]
GO
ALTER TABLE [dbo].[Service] ADD  CONSTRAINT [DF_Service_service1]  DEFAULT ('không') FOR [service1]
GO
ALTER TABLE [dbo].[Service] ADD  CONSTRAINT [DF_Service_service2]  DEFAULT ('không') FOR [service2]
GO
ALTER TABLE [dbo].[Service] ADD  CONSTRAINT [DF_Service_service3]  DEFAULT ('không') FOR [service3]
GO
ALTER TABLE [dbo].[ThucAn] ADD  CONSTRAINT [DF_ThucAn_ghiChu]  DEFAULT ('Không') FOR [ghiChu]
GO
USE [master]
GO
